<p id="notice"><%= notice %></p>
<br>
<br>

<div class="container">

  <p>
    <strong>Title:</strong>
    <%= @goal.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @goal.description %>
  </p>


</div>



<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
