<p id="notice"><%= notice %></p>

<div class="container">
  <div class="container">
    <p>
      <strong>Name:</strong>
      <%= @category.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @category.description %>
    </p>
  </div>

  <div class="container">
    <%= link_to 'Edit', edit_category_path(@category) %> |
    <%= link_to 'Back', categories_path %>
  </div>

  <br>

  <div class="container">
    <h4>Relevant Goals</h4>
    <ol>
    <% @goals.each do |goal| %>
      <li><a href="#">Goal Name: <%= goal.name =%> (<%= goal.description =%>)</li>
    <% end %>
    </ol>
  </div>
</div>
