
<tr>
  <td>NO IMAGE</td>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= product.price %></td>
  <td><%= product.serving_size %></td>
  <td><%= product.product_size %></td>
  <td><%= product.family %></td>
  <td> GOAL</td>
</tr>
