<p id="notice"><%= notice %></p>

<h1><%= @product.name %></h1>

<div class="container">
  <div class="col-md-4">
    <%= image_tag @product.image.url(:medium) %>
  </div>
  <div class="col-md-8">
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>
    <p>
      <strong>Serving size:</strong>
      <%= @product.serving_size %>
    </p>
    <p>
      <strong>Size:</strong>
      <%= @product.product_size %>
    </p>
    <p>
      <strong>Family:</strong>
      <%= @product.family %>
    </p>
    <p>
      <strong>Goal:</strong>
      <%= @product.goal_id %>
    </p>
    <p>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </p>
  </div>
</div>

<div class="container">
  <h3>Ingredients</h3>

  <ol>
    <% @ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.name %>, <%= ingredient.description %>, <%= ingredient.location_made %>
    </li>
    <% end %>
  </ol>

</div>
